
#fetchData {
    width: 492px;
    height: 58px;
    font-size: 24px;
    font-weight: 300;
    background-color: white;
    text-align: center;
}

.btn {
    background-color: #270846;
    padding: 5px 30px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
}

.err {
    background-color: #b62121;
    padding: 5px 30px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
}

.mg {
    margin: 10px;
    font-size: 32px;
    font-weight: 700;
}

.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    /* Hidden by default */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}